html {
    height: 100%;
}

body {
    background-image: url('../img/background.jpg');
    font-family: 'Bad Script', cursive;
    height: 100%;
}

input:focus, textarea:focus, keygen:focus, select:focus {
    outline-offset: 0;
}

:focus {
    outline: transparent auto 0;
}

#app {
    height: 100%;
}

.addTodo {
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.addTodoButton {
    padding: 3px 5px;
    max-height: 30px;
    height: 30px;
}

.addTodoText {
    padding: 0;
    margin: 0;
    border: 0;
    max-height: 30px;
    height: 30px;
}

.todoList {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 70%;
    overflow-y: auto;
    flex-shrink: 0;
}

.todoAppWrapper {
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.todo {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 25px;
    width: 100%;
    line-height: 1.5em;
    flex-shrink: 0;
}

.todo[data-done="true"] .todoText {
    text-decoration: line-through
}

.todoNumber {
    width: 25px;
    text-align: center;
    flex-shrink: 0;
    position: relative;
}

.todoNumber:after {
    content: '';
    display: flex;
    flex-direction: row;
    border-right: 1px solid black;
    height: 100%;
    width: 1px;
    position: absolute;
    top: 0;
    right: 0;
}

.todoText {
    flex-grow: 1;
    padding: 0 5px;
}

.todoRemove {
    flex-shrink: 0;
}

.allTodosManager{
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.deleteAllTodos, .toggleAllTodos{
    max-height: 30px;
    height: 30px;
    width: 50%;
    text-align: center;
    line-height: normal;
}