html {
    height: 100%;
}

body {
    background-image: url('../img/background.jpg');
    font-family: 'Bad Script', cursive;
    height: 100%;
}

input:focus, textarea:focus, keygen:focus, select:focus {
    outline-offset: 0;
}

:focus {
    outline: transparent auto 0;
}

#app {
    height: 100%;
}

.wholeWrapper {
    height: 100%;
}

.addTodo {
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.addTodoButton {
    padding: 3px 5px;
    max-height: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid green;
    border-radius: 3px;
    color: black;
    font-size: 14px;
}

.addTodoText {
    padding: 0 0 0 5px;
    margin: 0;
    border: 0;
    max-height: 30px;
    height: 30px;
    background: rgba(255,255,255,0.8);
}

.addTodoText::-webkit-input-placeholder {
    color:black;
    font-size: 14px;
}

.todoList {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 70%;
    overflow-y: auto;
    flex-shrink: 0;
    border-radius: 5px;
    background: linear-gradient(to top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 5%),linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 5%);
}

.todoList::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.todoAppWrapper {
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.todo {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 25px;
    width: 100%;
    line-height: 1.5em;
    flex-shrink: 0;
}

.todo[data-done="true"] .todoText {
    text-decoration: line-through
}

.todoNumber {
    width: 25px;
    text-align: center;
    flex-shrink: 0;
    position: relative;
}

.todoNumber:after {
    content: '';
    display: flex;
    flex-direction: row;
    border-right: 1px solid black;
    height: 100%;
    width: 1px;
    position: absolute;
    top: 0;
    right: 0;
}

.todoText {
    flex-grow: 1;
    padding: 0 5px;
}

[for*="todoToggle_"]{
    display: inline-block;
    align-self: center;
    flex-shrink: 0;
    width: 35px;
    height: 100%;
    position: relative;
}

[for*="todoToggle_"]:before{
    content: '';
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 3px;
    border: 1px solid black;
}

[data-done="true"] [for*="todoToggle_"]:after{
    display: inline-block;
    align-self: center;
    content: '';
    flex-shrink: 0;
    width: 35px;
    background-image: url('../img/checkmark.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.todoToggle{
    display: none;
}

.todoRemove {
    flex-shrink: 0;
    width: 20px;
}

.allTodosManager {
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.deleteAllTodos, .toggleAllTodos {
    max-height: 30px;
    height: 30px;
    width: 50%;
    text-align: center;
    line-height: normal;
}