.messagesIndicatorWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 50%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.messageIndicator-enter {
    opacity: 0.01;
}

.messageIndicator-enter.messageIndicator-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.messageIndicator-leave {
    opacity: 1;
}

.messageIndicator-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}

.messageIndicator-appear {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}

.messageIndicator-appear.messageIndicator-appear-active {
    opacity: 1;
}

.messagesIndicatorWrapper > .messagesWrapper > .message {
    text-align: center;
    position: relative;
    font-family: monospace;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}