.allTodosManager {
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 140%;
}

.deleteAllTodos, .toggleAllTodos {
    width: 50%;
    text-align: center;
    line-height: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    align-content: stretch;
    white-space: nowrap;
}