<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<form method="post">
    <input placeholder="username"
           name="username"
           type="text">
    <input placeholder="password"
           name="password"
           type="password">
</form>

<button class="login"
        data-url="/api/login"
        type="button">Login
</button>
<button class="register"
        data-url="/api/register"
        type="button">Register
</button>

<script>

	var $form = jQuery('form');

	jQuery(document)
		.on('click', '.login, .register', function (e) {

			jQuery.ajax({
				url: jQuery(this).attr('data-url'),
				type: 'POST',
				data: $form.serialize(),
				success: function (mess) {
					console.log(mess);
				}
			});
		});
</script>